**HERE IS THE SECOND TASK RECIEVED FROM WIDEBOT**

Let's import the required libraries

In [16]:
import numpy as np
import pandas as pd

In [17]:
Data = pd.read_csv('training.csv', delimiter=',')
data_target = Data['classLabel']
Data = Data.drop('classLabel',axis=1)

In [18]:
print(Data.shape)

(3700, 18)

In [19]:
validation= pd.read_csv('validation.csv', delimiter=',')
validation_target = validation['classLabel']
validation = validation.drop('classLabel',axis=1)

In [20]:
print(validation.shape)

(200, 18)

In [21]:
print(Data.isnull().sum())

variable1       39
variable2       39
variable3        0
variable4       64
variable5       64
variable6       66
variable7       66
variable8        0
variable9        0
variable10       0
variable11       0
variable12       0
variable13       0
variable14     100
variable15       0
variable17     100
variable18    2145
variable19       0
dtype: int64

In [22]:
print(validation.isnull().sum())

variable1       3
variable2       3
variable3       0
variable4       2
variable5       2
variable6       3
variable7       3
variable8       0
variable9       0
variable10      0
variable11      0
variable12      0
variable13      0
variable14      3
variable15      0
variable17      3
variable18    111
variable19      0
dtype: int64

After exploring the data, the feauture named 'variable18' contains too many missing data so we will drop it from both training and validation datasets

In [23]:
Data = Data.drop('variable18' , axis = 1)
validation = validation.drop('variable18', axis=1)

Now let's copy our data to two new variables to manipulate them

In [24]:
train_data = Data.copy()
validation_data = validation.copy()

After careful observing and analysing our data we will use mean and mode imputation to cover our missing data

In [25]:
# Mode Imputation
def occupy_missing_data(new_data,old_data):
    new_data["variable1"].fillna(old_data['variable1'].value_counts().idxmax(), inplace=True)
    new_data["variable4"].fillna(old_data['variable4'].value_counts().idxmax(), inplace=True)
    new_data["variable5"].fillna(old_data['variable5'].value_counts().idxmax(), inplace=True)
    new_data["variable6"].fillna(old_data['variable6'].value_counts().idxmax(), inplace=True)
    new_data["variable7"].fillna(old_data['variable7'].value_counts().idxmax(), inplace=True)

In [26]:
occupy_missing_data(train_data,Data)
occupy_missing_data(validation_data,validation)

In [27]:
# Mean Imputation
def replace_numbers_using_mean(new_data,old_data):
    new_data['variable2'].fillna(old_data['variable2'].mean(), inplace=True)
    new_data['variable14'].fillna(old_data['variable14'].mean(), inplace=True)
    new_data['variable17'].fillna(old_data['variable17'].mean(), inplace=True)

In [28]:
replace_numbers_using_mean(train_data,Data)
replace_numbers_using_mean(validation_data,validation)

Now let's Normalize our data using MinMaxScaler() Func from sklearn

In [29]:
def transform(Data):
    transform_features = pd.DataFrame(data = Data)
    from sklearn.preprocessing import MinMaxScaler
    scaler = MinMaxScaler() # The default range is (0, 1)
    numerical_features = ['variable2', 'variable3', 'variable8', 'variable14', 'variable15',
                          'variable17', 'variable19']

    transform_minMax_features = pd.DataFrame(data = transform_features)

    transform_minMax_features[numerical_features] = scaler.fit_transform(
            transform_features[numerical_features])
    return transform_minMax_features

In [30]:
train_data_transformed = transform(train_data)
train_data_transformed.head(10)

  variable1  variable2  variable3  ... variable15 variable17 variable19
0         a   0.062707   0.019286  ...    0.00005   0.068966        0.0
1         b   0.047669   0.011964  ...    0.00000   0.172414        0.0
2         b   0.263158   0.040179  ...    0.00019   0.082759        0.0
3         a   0.517594   0.047679  ...    0.00120   0.000000        0.0
4         b   0.279398   0.125000  ...    0.00000   0.200000        0.0
5         a   0.316992   0.044643  ...    0.00000   0.137931        0.0
6         a   0.186767   0.071429  ...    0.00001   0.237931        0.0
7         b   0.111579   0.031250  ...    0.00204   0.241379        0.0
8         b   0.228120   0.013393  ...    0.00140   0.189655        0.0
9         b   0.066466   0.366071  ...    0.00013   0.275862        0.0

[10 rows x 17 columns]

In [31]:
validation_data_transformed = transform(validation_data)
validation_data_transformed.head(10)

  variable1  variable2  variable3  ... variable15 variable17 variable19
0         b   0.269768   0.298983  ...     0.0000      0.210        1.0
1         b   0.125925   0.071357  ...     0.0001      0.068        0.0
2         b   0.337005   0.029898  ...     0.0003      0.120        1.0
3         b   0.041098   0.415188  ...     0.0375      0.060        0.0
4         b   0.141049   0.531593  ...     0.0475      0.060        1.0
5         a   0.380733   0.159458  ...     0.0000      0.240        0.0
6         b   0.123294   0.039864  ...     0.0000      0.140        1.0
7         b   0.224560   0.189356  ...     0.0068      0.230        0.0
8         b   0.189051   0.498306  ...     0.0000      0.360        1.0
9         b   0.701299   0.108033  ...     0.0000      0.160        0.0

[10 rows x 17 columns]

Now let's encode our categorical feautures using the get_dummies() func from numpy

In [32]:
final_training_data = pd.get_dummies(train_data_transformed)
final_training_data.head()

   variable2  variable3  variable8  ...  variable13_g  variable13_p  variable13_s
0   0.062707   0.019286   0.061404  ...             1             0             0
1   0.047669   0.011964   0.010175  ...             0             0             1
2   0.263158   0.040179   0.000000  ...             1             0             0
3   0.517594   0.047679   0.011754  ...             1             0             0
4   0.279398   0.125000   0.017544  ...             1             0             0

[5 rows x 48 columns]

In [33]:
final_validation_data = pd.get_dummies(validation_data_transformed)
final_validation_data.head()

   variable2  variable3  variable8  ...  variable13_g  variable13_p  variable13_s
0   0.269768   0.298983    0.07925  ...             0             0             1
1   0.125925   0.071357    0.02700  ...             1             0             0
2   0.337005   0.029898    0.02925  ...             1             0             0
3   0.041098   0.415188    0.00625  ...             1             0             0
4   0.141049   0.531593    0.00200  ...             1             0             0

[5 rows x 44 columns]

Time for some model training!!

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(final_training_data, data_target,
                                                    test_size = 0.25, random_state = 42)

# See the results of splitting
print('Number of training examples: {}'.format(X_train.shape[0]))
print('Number of validation examples: {}'.format(X_test.shape[0]))

Number of training examples: 2775
Number of validation examples: 925

Apply LogisticRegression to our training Data

In [35]:
from sklearn.linear_model import LogisticRegression
regressor = LogisticRegression()
regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)

In [36]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

print(cm)

[[ 84   0]
 [  0 841]]

In [37]:
print('Accuracy: {}'.format(regressor.score(X_test, y_test)))

Accuracy: 1.0

Now let's do some grid searching to obtain best parameters and best score

In [38]:
from sklearn.model_selection import GridSearchCV

First let's initialize the grid values for the tol and max_iter params

In [39]:
tol = [0.01,0.001,0.0001]
max_iter = [100,150,200]

param_grid = dict(tol=tol, max_iter=max_iter)

Now let's fit our training data to GridSearch

In [41]:
grid_model = GridSearchCV(estimator=regressor, param_grid=param_grid, cv=5)

grid_model_results = grid_model.fit(final_training_data,data_target)

# Summary
best_score, best_params = grid_model_results.best_score_,grid_model_results.best_params_
print("Best: %f using %s" % (best_score, best_params))

Best: 1.000000 using {'max_iter': 100, 'tol': 0.01}